server:
  port: ${PORT:8088}  
  # SERVER_URL: si cambias PORT, también cambia SERVER_URL manualmente o déjalo vacío
  url: ${SERVER_URL:http://localhost:8088} 

spring:
  application:
    name: webflux-ai
  
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb+srv://angiechacon:71491875@cluster0.nuwkm.mongodb.net/webflux-ai?retryWrites=true&w=majority&appName=Cluster0}
      database: ${MONGODB_DATABASE:webflux-ai}
      auto-index-creation: true
  
ai:
  apis:
    language-identify:
      base-url: ${LANGUAGE_IDENTIFY_BASE_URL:https://language-identify-detector.p.rapidapi.com}
      api-key: ${LANGUAGE_IDENTIFY_API_KEY:7eed17039dmsh63431ac43f3bab8p1c600cjsn1eee5acffea8}
      api-host: ${LANGUAGE_IDENTIFY_API_HOST:language-identify-detector.p.rapidapi.com}
    jsearch:
      base-url: ${JSEARCH_BASE_URL:https://jsearch.p.rapidapi.com}
      api-key: ${JSEARCH_API_KEY:7eed17039dmsh63431ac43f3bab8p1c600cjsn1eee5acffea8}
      api-host: ${JSEARCH_API_HOST:jsearch.p.rapidapi.com}


logging:
  level:
    root: ${LOGGING_LEVEL_ROOT:INFO}
    org.springframework: INFO
    org.springframework.r2dbc: DEBUG
    org.springframework.web.reactive.function.client: DEBUG
    com.vallegrande: ${LOGGING_LEVEL_COM_VALLEGRANDE:DEBUG}
    reactor: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true


springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
